ADFMBUSA/pipeline/copy_cdm.json
{
	"name": "copy_cdm",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{concat('cdm/processed/',formatDateTime(adddays(utcnow(),-1),'yyyy-MM-dd'),'/',item().name)}",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBatchTimeout": "20:10:00",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ADW_Customer_CDM.' ,item().name)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"parallelCopies": 2,
								"enableSkipIncompatibleRow": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "Copy_data_cdm",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable4",
									"type": "DatasetReference",
									"parameters": {
										"DWTableName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"DWSchema": "ADW_Customer_CDM"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CDM_DEST_V2",
						"type": "DatasetReference",
						"parameters": {
							"file_system": "adls-customer-cdm"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "CDM"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-21T02:00:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}