ADFMBUSA/pipeline/CST_DSTN_SMRY_RP.json
{
	"name": "CST_DSTN_SMRY_RP",
	"properties": {
		"activities": [
			{
				"name": "VALIDATE_FILE_RUN",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DataEngineering/WARRANTY/VALIDATE_FILE_RUN",
					"baseParameters": {
						"pipeline_name": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"force_run": {
							"value": "@pipeline().parameters.force_run",
							"type": "Expression"
						},
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Run Notebook",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "VALIDATE_FILE_RUN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('VALIDATE_FILE_RUN').output.runOutput,'Continue')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DBx_Transform_CST_DSTN_SMRY_RP_Amount_Load",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat(pipeline().parameters.notebook_path,'_Amount_Load')",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DBx_Transform_CST_DSTN_SMRY_RP_DMGHDR_Load",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat(pipeline().parameters.notebook_path,'_DMGHDR_Load')",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DBx_Transform_CST_DSTN_SMRY_RP_DMGPRTS_ID",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat(pipeline().parameters.notebook_path,'_DMGPRTS_ID')",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DBx_Transform_CST_DSTN_SMRY_RP_Visits",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat(pipeline().parameters.notebook_path,'_Visits')",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DBx_Transform_CST_DSTN_SMRY_RP_Amount_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "DBx_Transform_CST_DSTN_SMRY_RP_Visits",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "DBx_Transform_CST_DSTN_SMRY_RP_DMGPRTS_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "DBx_Transform_CST_DSTN_SMRY_RP_DMGHDR_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "notebook_run_flag",
								"value": {
									"value": "Success",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "File_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Run Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('VALIDATE_FILE_RUN').output.runOutput,'Continue'), equals(variables('notebook_run_flag'),'Success'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Create_STG_TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DROP IF CREATED STG TBL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_CREATE_STG_TBL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG_Amount",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_STG_TBL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/wrnty_opr/',pipeline().parameters.table_name, '/CST_DSTN_SMRY_RP_Amount_Load','/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Warranty_incre_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete For Amount Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG_Amount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_DEL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DROP IF CREATED STG TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[ADW_WRNTY_EDW_STG].[DROP_STG_TBL]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"TABLE_NAME": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG_DMGHDR",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update Insert For Amount Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/wrnty_opr/',pipeline().parameters.table_name,'/CST_DSTN_SMRY_RP_DMGHDR_Load','/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Warranty_incre_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Insert For Dmghdr",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG_DMGHDR",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_DMGHDR_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Insert For Amount Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete For Amount Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_AMT_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG_DMGPART",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update Insert For Dmghdr",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/wrnty_opr/',pipeline().parameters.table_name,'/CST_DSTN_SMRY_RP_DMGPRTS_ID','/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Warranty_incre_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Insert For DMGPART",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG_DMGPART",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_DMGPRT_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UPDATE_LAST_RUN",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Update Insert For RP Visits",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/WARRANTY/UPDTAE_LAST_RUN_IN_JSON",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG_Visits",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update Insert For DMGPART",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/wrnty_opr/',pipeline().parameters.table_name,'/CST_DSTN_SMRY_RP_Visits','/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Warranty_incre_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Insert For RP Visits",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG_Visits",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_RPVISIT_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"run_date": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"force_run": {
				"type": "string"
			}
		},
		"variables": {
			"notebook_run_flag": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-21T02:00:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}