ADFMBUSA/pipeline/Missing_file_notification.json
{
	"name": "Missing_file_notification",
	"properties": {
		"description": "Pipeline to send notification in case expected file is missing ",
		"activities": [
			{
				"name": "dbx_identify_missing_files",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/DataEngineering/Common/Notification/identify_missing_files",
						"type": "Expression"
					},
					"baseParameters": {
						"FilesPath": {
							"value": "@concat('/mnt/adls-pdw-edw/raw/paragon/',pipeline().parameters.run_date,'/DAPS+PDW+PROD_PARAGON+',pipeline().parameters.run_date,'.zip/')",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().parameters.pipeline_name",
							"type": "Expression"
						},
						"RunDate": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "check_whether_files_missed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dbx_identify_missing_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('dbx_identify_missing_files').output.runOutput.missed_files, ''))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "execute_send_email_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "generate_send_email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"notification_type": "MSG",
									"pipeline_name": {
										"value": "@pipeline().parameters.pipeline_name",
										"type": "Expression"
									},
									"param": {
										"value": "@concat('{\"rundate\": \"',pipeline().parameters.run_date,'\",\"missed_files_string\": \"',activity('dbx_identify_missing_files').output.runOutput.missed_files,'\",\"impacted_tables_string\":\"',activity('dbx_identify_missing_files').output.runOutput.impacted_tables,'\"}')",
										"type": "Expression"
									},
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"run_date": {
				"type": "string",
				"defaultValue": "2023-03-01"
			},
			"pipeline_name": {
				"type": "string",
				"defaultValue": "pdw_incremental_parent_pl"
			}
		},
		"folder": {
			"name": "Notifications"
		},
		"annotations": []
	}
}